version: '3'
services:
  sandbox:
    image: registry.gitlab.com/pyshare/sandbox@{{ sandbox_image_tag }}
    ports:
      - 1450:1450
    expose:
      - 1450
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./submissions:/app/submissions
      - ./submissions-backup:/app/submissions.bk
      - ./.config:/app/.config
      - ./logs:/app/logs
    environment:
      - 'DISPATCHER_CONFIG=/app/.config/dispatcher.json'
      - 'SANDBOX_TOKEN={{ token }}'
