{
    "queue_size": 256,
    "max_container_count": 32,
    "base_dir": "submissions",
    "host_dir": "{{ project_dir }}/submissions",
    "image": "registry.gitlab.com/pyshare/judger@sha256:898e6738abf82ae8c80aab3a222eba41cc1eff42aaecd0d64bbd20b9691021e5"
}
